[submodule "infrastructure"]
  path = infrastructure
  url = https://github.com/40docs/infrastructure.git

[submodule "dotfiles"]
  path = dotfiles
  url = https://github.com/40docs/dotfiles.git

[submodule "hydration"]
  path = hydration
  url = https://github.com/40docs/hydration.git

