[submodule "dotfiles"]
	path = dotfiles
	url = https://github.com/40docs/dotfiles.git
	branch = main
[submodule "hydration"]
	path = hydration
	url = https://github.com/40docs/hydration.git
	branch = main
[submodule "infrastructure"]
	path = infrastructure
	url = https://github.com/40docs/infrastructure.git
	branch = main
